* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.flats-inner {
  width: 30%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  position: relative;
}

.flats-inner > div {
  width: 90%;
  height: 150px;
  box-sizing: border-box;
  margin: 0 auto;
}

.flats-inner > svg {
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  outline: none;
}

@media (max-width: 1000px) {
  .flats-inner > div > h3 {
    font-size: 18px;
  }
  .flats-inner > div > h5 {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .flats-inner {
    width: 60%;
    margin: 20px auto;
  }
}

@media (max-width: 650px) {
  .flats-inner {
    width: 90%;
  }
}